.container
  position: absolute
  top: 50%
  transform: translateY(-50%)
  left: 10rem
  display: flex
  flex-direction: column
  gap: 2rem

.title
  background-color: white
  width: fit-content
  max-width: 20ch
  padding: 1rem
  letter-spacing: 0.125rem
  text-transform: uppercase
  font-weight: bold
  text-wrap: balance
  border-radius: var(--bs-border-radius)

.paragraph
  color: white
  font-size: 1.25rem
  max-width: 50ch

.actionButton
  width: fit-content