@import "main"

.container
  position: absolute
  top: 50%
  transform: translateY(-50%)
  left: 12%
  display: flex
  flex-direction: column
  gap: 2rem

.title
  background-color: white
  width: fit-content
  max-width: 20ch
  padding: 1rem
  letter-spacing: 0.125rem
  text-transform: uppercase
  font-weight: bold
  text-wrap: balance
  border-radius: var(--bs-border-radius)

.description
  color: white
  font-size: 1.5rem
  max-width: 50ch

.actionButton
  width: fit-content

@include media-breakpoint-down(xl)
  .title
    font-size: calc(1.375rem + 1.5vw)

@include media-breakpoint-between(md, lg)
  .title
    font-size: 1.5rem
    letter-spacing: 0
    padding: 0.75rem

  .container
    gap: 0.5rem
    left: 8%

  .description
    font-size: medium
    max-width: 40ch
    text-wrap: balance

@include media-breakpoint-between(lg, xl)
  .title
    font-size: 2rem

  .description
    font-size: 1.25rem