@import "main"

.postContainer
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  gap: var(--bs-gutter-x)
  margin-bottom: 3rem

.postCard
  transition: all 0.3s ease-in-out
  cursor: pointer
  overflow: hidden
  border: none
  text-decoration: none
  box-shadow: var(--bs-box-shadow)
  > img
    transition: all 0.3s ease-in-out
  &:hover
    > img
      scale: 1.05

@include media-breakpoint-down(md)
  .postContainer
    grid-template-columns: 1fr

@include media-breakpoint-between(md, lg)
  .postContainer
    grid-template-columns: 1fr 1fr
