@import "main"

.narrowContainer
  h1
    text-wrap: balance
    &:first-letter
      text-transform: capitalize
  p
    text-wrap: pretty

.postParagraph
  text-wrap: pretty
  font-size: large

.postImage
  border-radius: var(--bs-border-radius-xl)

.divider
  width: auto
  height: 1px
  margin: 2rem 0
  background-color: var(--bs-gray-400)

@include media-breakpoint-up(lg)
  .narrowContainer
    max-width: var(--bs-breakpoint-md)